{% extends 'layouts.html' %}
{% block body %}

<!-- This is a vue component -->
{% raw %}
<div class="endpoints">
  <h3>Quick Links</h3>
  <ul>
    <li><a href="#mysubreddits"># endpoints@mysubreddits</a></li>
    <li><a href="#unmoderated"># endpoints@unmoderated</a></li>
  </ul>

  <endpoint
    id="mysubreddits"
    uri="/api/mysubreddits"
    description="Get an array of all the subreddits that the current user has moderation access too."
    scope="created_utc display_name mod_permissions subreddit_type subscribers"
    args=""
    request="get"
  ></endpoint>

  <endpoint
    id="unmoderated"
    uri="/api/unmoderated"
    description="Get all the posts from a subreddit that haven't been moderated. The type can be 'after' or 'before'. This will get all the posts after a certain name. The name being the name of the last post."
    scope="created_utc selftext name ups removed"
    args="type=null, name=null"
    request="get"
  ></endpoint>
</div>

{% endraw %}

{% endblock %}
