{% extends 'layouts.html' %}
{% block body %}

<!-- SIDEBAR -->
<!-- tags: aside, sidemenu, sidenav -->
<!-- <ui-menu baseurl="/r/"></ui-menu>  -->




<!-- HERO -->
<!-- tags: jumbotron, header, pretty, container -->
<!-- <ui-hero options="is-medium is-primary is-bold">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title">Hero</h1>
    </div>
  </div>
</ui-hero> -->




<!-- NAVIGATION -->
<!-- tags: menu, nav, navbar -->
<!-- <ui-nav></ui-nav> -->

<ui-hero options="is-medium is-primary is-bold">
  <div class="hero-head">
      <ui-nav></ui-nav>
  </div>
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title">Hero</h1>
    </div>
  </div>
</ui-hero>

{% endblock %}
