{
  "reddit": {
    "userAgent": "xxx",
    "clientId": "xxx",
    "clientSecret": "xxx",
    "refreshToken": "xxx",
    "redirect": "http://localhost:8000/accepted"
  },
  "session": {
    "expires": 1
  }
}
